.table-container{
  margin: auto;
  text-align: left;
}

table {
  margin: 0 auto;
  width: 80vw;
  border: 2px solid #000;
}

thead {
  background-color: #868d9e;
}

tr {
  width: 20vw;
}

thead th:nth-child(1) {
  width: 30%;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

button {
  border-bottom: 1px solid #0049ff;
  color: #0049ff;
}

button:hover {
  color: #f00;
}
